
.departmentname {
  justify-content: center;
  display: flex;
  /* font-weight: bolder;
  font-size: 45px;
  
   */
  justify-content: center;
}
.departmentname .title-content {
  /* Add your styles here */
}

/* Styles for the doctor in department section */
.doctorindepartment {
  /* Add your styles here */
}

/* Styles for the doctor card */
.custom-card {
  /* Add your styles here */
}
.custom-card-body {
  /* Add your styles here */
}

.custom-card-title {
  /* Add your styles here */
}

.custom-card-text {
  /* Add your styles here */
}

.custom-card-img {
  /* Add your styles here */
}